body {
    font-family: 'Montserrat', sans-serif;
    background-color: #46b4e3;
}

.clock {

    transform: translate(-50%) translateY (-50%);
    color: #fff;
    font-size: 60px;
    letter-spacing: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: black;
    height: 40vh;
    width: 500px;
    margin: auto;
    margin-top: 10rem;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

@media (max-width: 477px) {
    .clock {
        font-size: 35px;
        letter-spacing: 7px;
        height: 35vh;
        width: 400px;

    }
}